.top-nav-bar {
  background: #fff;
  padding-right: 30px;
}
.navbar-logo {
  padding: 10px 15px 10px 30px;
  height: 54px;
  font-size: 18px;
  line-height: 19px;
}
.nav-logo-icon {
  width: 32px;
}
.brand-font {
  font-size: 18px;
  color: #12344d;
}
.input-search {
  padding: 5px 10px !important;
  line-height: 1.42857;
  border: none;
  border-bottom: 1px solid #cfd7df;
  font-size: 14px;
  outline: none;
  text-indent: 15px;
}
.positon-absolute-position {
  top: 8px;
  left: 0px;
  font-size: 13px !important;
}
.top-nav-separator {
  border-left: 1px solid #e9edf5;
  margin: 15px 5px;
}
.fa-gift {
  color: #92a2b1;
  font-size: 22px;
}
.beamer-icon {
  border-radius: 50%;
  width: 18px;
  background-color: #ff3e43;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
}
.avatar-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #d2cde0;
}
.avatar-icon {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}
.subheader-content {
  height: 54px;
  background-color: #f5f7f9;
  box-shadow: 0 0 0 1px #ebeff3;
  padding: 10px 30px 10px 0px;
}
.bottom-header {
  padding: 10px 30px 10px 0px;
}
.exit-intent-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: rgba(204, 203, 203, 0.85);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0) scale(0);
}
.popup-visible {
  transform: translateY(0) scale(1);
}
.popup-container {
  width: 90%;
}
.popup-bar {
  top: 20%;
}
.popup {
  left: 25%;
  width: 50%;
}
.popup-filter {
  top: 30%;
}
.input-search-popup {
  padding: 8px 12px;
  border: 1px solid #cfd7df;
  outline: none;
  text-indent: 20px;
}
.form-control {
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.positon-absolute-position-popup {
  top: 15px;
  left: 12px;
  font-size: 13px !important;
}
.positon-absolute-position-popup-close {
  top: 5px;
  right: 0px;
}
