.top-nav-bar {
  /* height: 54px; */
  border-radius: 0;
  background: #fff;
  padding-left: 0;
  padding-right: 30px;
  margin: 0;
  -webkit-box-shadow: 0 0 0 1px #ebeff3;
  box-shadow: 0 0 0 1px #ebeff3;
  border: 0;
  width: 100%;
}

.navbar-logo {
  padding: 10px 15px 10px 30px;
  height: 54px;
  float: left;
  font-size: 18px;
  line-height: 19px;
}
.nav-logo-icon {
  width: 32px;
}
.brand-font {
  font-size: 18px;
  color: #12344d;
}

.input-search {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #12344d;
  padding: 5px 10px !important;
  line-height: 1.42857;
  border: none;
  border-bottom: 1px solid #cfd7df;
  border-radius: 0;
  padding: 0 20px;
  font-size: 14px;
  outline: none;
  text-indent: 15px;
}

.positon-absolute-position {
  position: absolute;
  top: 8px;
  left: 0px;
  font-size: 13px !important;
}
.fa-plus {
  font-size: 12px;
  margin-right: 3px;
}
.top-nav-separator {
  border-left: 1px solid #e9edf5;
  width: 1px;
  height: 24px;
  margin: 15px 5px;
}
.fa-gift {
  color: #92a2b1;
  font-size: 22px;
}
.beamer-icon {
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #ff3e43;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 11px;
  font-family: arial;
  text-align: center;
  line-height: 18px;
  font-weight: 700;
  opacity: 1;
  letter-spacing: 0;
}
.avatar-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #d2cde0;
  opacity: 0.9;
  text-align: center;
}
.avatar-icon {
  color: #fff;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.subheader-content {
  height: 54px;
  border-radius: 0;
  background-color: #f5f7f9;
  border-bottom: 1px solid #cfd7df;
  padding-left: 0;
  padding-right: 30px;
  margin: 0;
  -webkit-box-shadow: 0 0 0 1px #ebeff3;
  box-shadow: 0 0 0 1px #ebeff3;
  border: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bottom-header {
  border-radius: 0;
  padding-left: 0;
  padding-right: 30px;
  margin: 0;
  border: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ebeff3;
}

.exit-intent-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background: rgba(204, 203, 203, 0.85);
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-visible {
  transform: translateY(0) scale(1);
}
.popup-container{
  width: 90%;
}
.popup {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.input-search-popup {
  box-shadow: none;
  padding: 8px 12px;
  border: 1px solid #cfd7df;
  border-radius: 4px;
  font-weight: 500;
  outline: none;
  text-indent: 20px;
}
.form-control {
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.positon-absolute-position-popup {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 13px !important;
}
.positon-absolute-position-popup-close{
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 13px !important;
  cursor: pointer;
}